@charset "UTF-8";

:root {
    --cor1: #4889C2;
    --cor2: #82A4C2;
    --cor3: #5E778C;
    --cor4: #2C5376;
    --cor5: #192F42;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor3);
    height: 100%;
}

header {
    color: #ffffff;
    text-align: center;
    margin: auto;
    max-width: 1000px;
    min-width: 300px;
    height: 130px;
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
}
header > h1 {
    padding-top: 1.5em;
    text-shadow: 1px 2px 5px black;
}

/* 
Navbar vertical (base)
    nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 200px;
    background-color: bisque;
    margin-left: 10%;
} */

nav {
    display: flex;
    background-color: #2C5376;
    margin: auto;
    max-width: 1000px;
    min-width: 300px;
}

nav > a {
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
}

nav > a:hover {
    text-decoration: underline;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.443);
    background-color: var(--cor1);
    border-radius: 10px;
}

main {
    margin: auto;
    max-width: 1000px;
    min-width: 300px;
    background-color: var(--cor2);
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 30px;
}

main > picture > img {
    margin: auto;
}

footer {
    background-color: var(--cor5);
    color: #ffffff;
    text-align: center;
    padding: 3px;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0%;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a:hover {
    text-decoration: underline;
}

.dropdown {
    color: #ffffff;
    display: inline-block;
    position: relative;
    padding: 10px;
    cursor: pointer;
}

.dropdownMenu {
    display: none;
    position: absolute;
    background-color: var(--cor1);
} 

.dropdown:hover {
    text-decoration: underline;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.443);
    background-color: var(--cor1);
    border-radius: 10px;
}

.lastElement:hover {
    border-radius: 0px 0px 10px 10px;
}

.dropdown2 .dropdownMenu{
    transition: 10s;
    display: block;
    width: 300px;
    margin-top: 10px;
    border-radius: 0px 0px 10px 10px;
    z-index: 9999;
}

div > a {
    padding: 5px;
    text-decoration: none;
    text-align: justify;
    display: block;
    color: var(--cor5);
}

div > a:hover {
    background-color: var(--cor3, );
    text-decoration: underline;
}

.contador {
    text-align: right;
    padding: 20px;
    font-weight: bolder;
    text-decoration: underline;
    align-self: flex-end;
}

iframe {
    width: 90%;
    height: 1000px;
    border: none;
}

iframe.scrollbar::-webkit-scrollbar {
    display: none;
  }

@media screen and (max-width: 600px) {
    iframe {
        height: 300px;
    }
    header > h1 {
        padding-top: 10px;
    }
}

/* ::-webkit-scrollbar{
    display: none;
} */